@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf");
}
/* Указываем box sizing */
*,
::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

/* Сбрасываем маркеры списков*/
ol,
ul {
  list-style: none;
}

/* Сбрасывае стили для ссылок*/
a {
  text-decoration: none;

  color: inherit;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;

  border: none;
  outline: none;
  background-color: transparent;
}

/* Устанавливаем шрифты */
body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  letter-spacing: normal;

  background-color: #fafafa;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-bottom: 40px;

  background-color: #fff;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 8px 0;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 25px 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 75px;
  height: auto;
  margin-right: 65px;
}

.lang {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-right: 45px;

  cursor: pointer;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.lang:hover .lang__drop {
  display: block;
}
.lang:hover .lang__arrow {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.lang__image {
  width: 20px;
  height: auto;
}
.lang__name {
  font-weight: bold;

  margin: 0 20px;
}
.lang__arrow {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.like-btn {
  width: 25px;

  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.categories {
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.categories__item {
  margin-right: 80px;

  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  letter-spacing: -1px;
}
.categories__item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.favorites {
  font-size: 12px;
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #303030;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.favorites__heart {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-right: 15px;
}
.favorites__heart object {
  width: 20px;
  height: auto;
}
.favorites__size {
  font-size: 7px;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 15px;
  height: 15px;

  -webkit-transform: translate(40%, -40%);
  transform: translate(40%, -40%);

  color: #fff;
  border-radius: 50%;
  background-color: #ef6f1a;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about {
  font-size: 14px;
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #a5a5a4;
}
.about__item {
  margin-right: 50px;

  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.about__item:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.search-form button[type="submit"] {
  font-size: 12px;

  margin-right: 20px;

  cursor: pointer;

  color: #b0b1b1;
}
.search-form input {
  font-size: 12px;

  width: 40px;

  color: #b0b1b1;
}
.search-form input[type="text"] {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.search-form input[type="text"]:focus {
  width: 150px;

  border-bottom: 1px solid currentColor;
}

.button {
  font-weight: bold;

  display: inline-block;

  padding: 15px 45px;

  color: #fff;
  border: 3px solid transparent;
  border-radius: 30px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ef6f1a),
    color-stop(80%, #ed9106)
  );
  background: linear-gradient(90deg, #ef6f1a 0%, #ed9106 80%);
}
.button-small {
  padding: 10px 25px;
}
.button-small:hover {
  color: #ef6f1a;
  border-color: currentColor;
  background: transparent;
}

.arrow {
  width: 22px;
  height: auto;
}

/*slider*/
.slider {
  position: relative;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-arrow {
  font-size: 0;

  position: absolute;
  z-index: 100000;
  bottom: 65px;

  width: 100px;
  width: 45px;
  height: 10px;
  height: 45px;

  cursor: pointer;

  border: 2px solid #fff;
  border-radius: 50%;
  background: url("../data/icons/arrow_white.svg") center no-repeat;
  background-size: 60%;
}
.slider .slick-arrow.slick-prev {
  left: 110px;

  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slider .slick-arrow.slick-next {
  left: 175px;

  border-top-color: #ef7727;
  border-right-color: #ef7727;
}

.slide {
  position: relative;

  padding: 100px 110px 165px 110px;
}
.slide__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  -o-object-fit: cover;
  object-fit: cover;
}
.slide__wrapper {
  position: relative;
  z-index: 1;

  color: #fff;
}
.slide__title {
  font-family: "ProximaNova";
  font-size: 47px;

  max-width: 650px;

  letter-spacing: 2px;
  word-spacing: 5px;
}
.slide__subtitle {
  font-size: 20px;

  max-width: 500px;
  margin-top: 30px;
}
.slide .button {
  margin-top: 30px;
}

.articles {
  margin-top: 60px;
}
.articles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0 -15px;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article {
  max-width: 436px;
  margin-bottom: 30px;
  padding: 0 15px;

  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.article:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.article:hover .article__wrapper {
  -webkit-box-shadow: 8px 8px 16px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 8px 8px 16px 0 rgba(34, 60, 80, 0.2);
}
.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  height: 100%;
  height: 100%;

  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.article__img {
  width: 280px;
  max-width: 280px;
  height: 225px;
}
.article__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  -o-object-fit: cover;
  object-fit: cover;
}
.article__arrow {
  margin-left: 12px;
}
.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  padding: 55px 25px 40px 25px;

  background-color: #fff;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.article__title {
  font-size: 18px;
  font-weight: bold;
}
.article__link {
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #ef6f1a;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  padding: 80px;
}
.section__title {
  font-family: "ProximaNova";
  font-size: 37px;

  max-width: 550px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: -1px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.tabs__list {
  margin-top: 85px;
}
.tabs__item {
  display: none;

  width: 100%;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tabs__item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__links {
  font-size: 17px;
  font-weight: bold;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 60px;

  color: #9e9e9d;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tabs input[type="radio"] {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  color: #fff;
  border-color: #ef6f1a;
  background-color: #ef6f1a;
}
.tabs label {
  display: inline-block;

  margin-left: -1px;
  padding: 12px 28px;

  cursor: pointer;

  border: 1px solid #9e9e9d;
}
.tabs label:first-child {
  margin-left: 0;
}

.product {
  width: 320px;
  margin-bottom: 32px;
  padding: 0 16px;
}
.product__wrapper {
  overflow: hidden;

  padding: 0 22px 17px 22px;

  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}
.product__wrapper:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  height: 300px;
  margin: 0 -22px;

  background-color: #fff;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;

  -o-object-fit: cover;
  object-fit: cover;
}
.product__title {
  font-size: 17px;
}
.product__info {
  padding: 5px 0 0 0;
}
.product__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 35px;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product__price {
  color: #656565;
}
.product__cost {
  font-weight: bold;

  margin-right: 5px;
}

/* Footer */
.footer {
  padding-bottom: 40px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__wrapper > div {
  margin-right: 115px;
}

.subfooter {
  padding-top: 23px;
  padding-bottom: 40px;

  border-top: 1px solid #ededed;
}
.subfooter__text {
  font-size: 12px;

  color: #aaabab;
}

.navigation__list-networks {
  font-size: 30px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__list-networks .navigation__link {
  margin-right: 30px;

  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;

  color: #ee6e19;
}
.navigation__list-networks .navigation__link:last-child {
  margin-right: 0;
}
.navigation__list-networks .navigation__link:hover {
  -webkit-transform: translateY(-2.5px);
  transform: translateY(-2.5px);
}
.navigation__title {
  font-size: 20px;

  margin-bottom: 35px;

  letter-spacing: -1px;
}
.navigation__link {
  margin-bottom: 20px;

  color: #7a7a7a;
}
.navigation__link:hover {
  text-decoration: underline;
}
